{% extends "index.html" %}
{% block content %}
<div class="main-about">
    <h1>ABOUT</h1>
    <p>
        Healthcare Recommendation System using machine learning technique solves the problem of going to the hospital for doctor consultation. Where a user can just go to the web app and search for the available of  the doctor. If they don’t know any of the doctors that are available there, the system will suggest the user with the doctor base on the types of their sickness and schedule an appointment with the doctor to consult their sickness. After the successful of the appointment the user will get an email from the hospital about their appointment and they can consult the doctor whether online mode, through video conference or offline mode. we are developing a healthcare system which mainly focuses to provide services in rural areas where it is not possible for people to avail healthcare facilities on time.


    </p>
</div>
{% endblock content%}