{% extends "index.html" %}
{% block content %}
{% if name %}
        <center>
            <h1 class="h3">Thankyou</h1>
            <p class="p">{{name}}</p>
            <p class="p">We will get back to you</p>
            <i class="far fa-check-circle" id="i"></i>
        </center>
    {%else%}
<form action="" id="form" method="POST">{% csrf_token %}
        <h1>Medicine</h1>
        <input type="text" name="name" id="" placeholder="Name..">
                <input type="email" name="mail" id="" placeholder="Email..">
                <textarea name="content" placeholder="Medicine seperate with commas" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="Submit" >
    </form>
    {% endif %}
{% endblock content%}